#root {
  /* max-width: 1280px; */
  width: 100%;
  margin: 0 0;
  /*padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  background-color: #fff;
  box-shadow: 0 0 1em #00000022;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5em;
  max-width: 600px;
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: #f0f0f0;
  box-shadow: 0 0 1em #00000022;
}

.navbarLogo {
  height: 3em;
  width: 6em;
  margin-left: 1em;
}

.favoritesButton {
  margin-right: 1em;
}

@media screen and (max-width: 768px) {
  .navbarLogo {
    display: none;
  }
  .spaceSearch {
    text-align: start !important;
  }
  .ant-space-item {
    margin: 0 !important;
    max-width: 30% !important;
  }
  .search {
    display: flex;
    justify-content: flex-start; /* Alinear a la izquierda */
    max-width: 83% !important;
    margin: 0 4px 0 0 !important;
  }
  .searchInput {
    max-width: 100% !important;
  }
  .favoritesButton {
    margin-right: 0.5em;
  }
  .comicCards {
    max-width: 100% !important; /* Ocupar todo el ancho disponible */
    margin-bottom: 20px; /* Espacio entre las tarjetas */
  }
  .comicCards h3 {
    font-size: small;
    height: 53px !important;
  }
  .spaceComics {
    justify-content: center !important;
    gap: 16px !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}

.character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 80px;
}

.character-card {
  width: calc(25% - 20px); /* Ancho de cada tarjeta, con margen */
  margin: 10px;
}

.liSearches {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: #f0f0f0;
  box-shadow: 0 0 1em #00000022;
  margin: 0.5em;
}
.liSearches:hover {
  background-color: blue;
  box-shadow: 0 0 1em #00000022;
  margin: 0.5em;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .character-card {
    width: calc(
      33.33% - 20px
    ); /* Cambiar el ancho de la tarjeta en pantallas más pequeñas */
  }
}

@media (max-width: 768px) {
  .character-card {
    margin-left: calc(25% - 10px) !important;
    width: calc(
      50% - 20px
    ); /* Cambiar el ancho de la tarjeta en pantallas aún más pequeñas */
  }
}

@media (max-width: 576px) {
  .character-card {
    width: calc(
      100% - 20px
    ); /* Cambiar el ancho de la tarjeta en dispositivos móviles */
  }
}
